html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  @include fontPul1();
  background-color: $localWhite;
  color: $localBlack;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5 h6,
p,
ul {
  margin: 0;
}

.title {
  @include fontPul2();
}

.section__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}



.just-validate-error-label  {
  display: block;
  position: absolute;
  top: 0;
  left: 23px;
  @include fontPul1();
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: $errorColor ;
}


